

    .recuadro__imagen{
    background-color: red;
    width: 150px;
    padding: 10px;
    
    margin: 0;
    }
.recuadro__nombre{
    font-size: 24px;
    color: rgb(13, 185, 13);
background-color: aqua;
width: 200px;
}